# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output directories
bin/
obj/

# Ignore build intermediary files
*.cache
*.csproj.user
*.rsuser
*.sln.ide

# Ignore compiled DLLs and EXEs
*.dll
*.exe
*.pdb

# Ignore source link files
*.sourcelink.json

# Ignore publish output
publish/
wwwroot/

# Ignore NuGet packages
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Ignore npm packages and logs
node_modules/
npm-debug.log
yarn-error.log

# Ignore logs, database, and backup files
*.log
*.db
*.sql
*.bak

# Ignore IDE-specific files
.idea/
*.DotSettings

# Ignore Rider IDE project files
.idea/
*.sln.iml

# Ignore Recycle Bin directory
$RECYCLE.BIN/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Git-specific files
*.orig
